* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #23232e;
  color: white;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  font-family: sans-serif;
  padding: 40px;
}

.page-wrap {
  max-width: 900px;
  margin: auto;
  /* border: 1px dashed blue; */
}

header {
  padding: 20px;
  border-radius: 10px;
  background: #333344;
}

.form-container {
  margin-top: 20px;
  padding: 20px;
  background: #333344;
  border-radius: 10px;
}

#data {
  margin-top: 20px;
  /* border: 2px solid red; */
  /* height: 500px; */
}

table,
th,
td {
  border: 1px solid #333344;
  padding: 8px;
}

table {
  width: 100%;
  border: 2px solid hsl(240, 14%, 20%);
  transition: 1s;
}
th {
  font-weight: bold;
  text-transform: capitalize;
  background: hsl(240, 14%, 15%);
}

tr:nth-child(even) {
  background: hsl(240, 14%, 28%);
}

button {
  opacity: 0.8;
}
